body{
    background-color: rgb(17, 17, 17);
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
}

.header{
    position: static;
    background-color: rgb(13, 13, 13);
    display: inline-block;
    border-bottom: 1px white solid;
}

.about{
    top: 140px; margin-left: 30px; font-size: 2vh; color: white; font-family: inter;
            text-shadow: 10px 10px 10px black; width: 800px;
}

.contact{
    margin-left: 30px;
    font-family: inter;
    color: white;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    width: 50vh;
    transition-duration: 500ms;
    cursor: pointer;
    text-decoration: none;
}

.contact:hover{
    background-color: gray;
}

.header-button{
    color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8vh;
    cursor: pointer;
    transition-duration: 500ms;
    padding: 2vh;
    text-align: center;
    text-decoration: none;
    float: left;
    display: block;
}

.header-button:hover{
    background-color: white;
    color: black;
}

.page-body{
    position: relative;
    background: transparent;
}

.footer{
    color: gray;
    padding-top: 20px;
    padding-left: 10px;
    position: relative;
    background-color: rgb(13, 13, 13);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.flex-around-horizontal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.grid{
    display: grid;
    grid-template-columns: 27.5% 27.5% 27.5%;
    column-gap: 5vh;
}

.large-graphic-button{
    border: gray solid 1px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
    color: white;
    transition-duration: 500ms;
    background-color: rgb(17, 17, 17);
    cursor: pointer;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.large-graphic-button:hover{
    border: 1px solid white;
}

.button{
    border-radius: 10px;
    color: white;
    font-family: inter;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    transition-duration: 500ms;
    text-decoration: none;
    border: 1px solid white;
    box-shadow: 0 0 10px black;
}

.button:hover{
    box-shadow: 0 0 10px white;
    background-color: white;
    color: black;
}

.progress-bar{
    border-radius: 20px;
    border: solid gray 1px;
}

.legend{
    width: 15px;
    height: 15px;
    border: solid white 1px;
}

.legend-text{
    color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    position: relative;
    left: 35px;
}

@font-face {
    font-family: mata;
    src: url("../fonts/Mata-Bold.otf");
}

@font-face {
    font-family: inter;
    src: url("../fonts/Inter-Regular.otf");
}