<html>
    <head>
        <title>Exponential Software - About</title>
        <link rel="stylesheet" href="../static/css/default.css">
    </head>
    <body onload="Init()">
        <div class="header" style="height: 75px; width: 100%; z-index: 2;">
            <div class="flex-around-horizontal" style="width: 30%; top: 15px">
                <a href="/pages?page=home">
                    <img src="../static/img/logo.png" class="logo" style="width: 150px; height: 45px;">
                </a>
                <a href="/pages?page=projects" class="header-button" style="margin-top: 15px; height: 10%; margin-right: 5px;"><b>Projects</b></a>
                <a href="/pages?page=about" class="header-button" style="margin-top: 15px; height: 10%; margin-right: 5px;"><b>About</b></a>
                <a href="/pages?page=contact" class="header-button" style="margin-top: 15px; height: 10%; margin-right: 5px;"><b>Contact</b></a>
                <a href="/pages?page=statistic" class="header-button" style="margin-top: 15px; height: 10%; margin-right: 5px;"><b>Statistics</b></a>
            </div>
        </div>

        <div class="page-body" style="height: 100%; box-shadow: inset 0 0 70px 10px rgb(26, 26, 26);">
            <p style="position: absolute; font-size: 50; font-family: Arial, Helvetica, sans-serif; color: white; text-shadow: 10px 10px 10px black;
            left: 30px">
                <b>What the heck is this!?</b>
            </p>
            <p style="position: absolute; top: 140px; left: 30px; font-size: 25px; color: gray; font-family: Arial, Helvetica, sans-serif;
            text-shadow: 10px 10px 10px black; width: 800px;">
                Exponential Software, previously known as Mawse Software and even MightyMawse Games before that, is the label associated with all of my creations over the years. The love for computer technology
                and software started roughly around 2013 at the young age of eight when I was introduced to Scratch. Over the years the ambition and skill grew in direct proportion, I have taken the time to compile as much of my work as possible into one central folio,
                Exponential is also open to any software development out sourcing for software related projects. If you have any enquiry or just need to get in touch please don't hesitate to send a message, contact details can be found on the contacts page!
                Thankyou for your time!
            </p>
        </div>
        
        <div id="footer" class="footer" style="height: 40px; background-color: rgb(43, 43, 43);">Exponential Software 2018 - </div>
        <script>
            function Init(){
                document.getElementById("footer").innerText += new Date().getFullYear();
            }
        </script>
    </body>
</html>