<html>
    <head>
        <title>Exponential Software - Home</title>
        <link rel="stylesheet" href="../static/css/default.css">
        <link rel="icon" type="image/x-icon" href="../static/img/exp.png">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>
    <body onload="Init()" style="max-height: 100vh; height: 100%;">
        <div class="header" style="width: 100%; z-index: 0;">
            <ul style="overflow: hidden; list-style-type: none; margin: 0; padding: 0;">
                <li><a href="/pages?page=projects" class="header-button"><b>Projects</b></a></li>
                <li><a href="/pages?page=about" class="header-button"><b>About</b></a></li>
                <li><a href="/pages?page=statistic" class="header-button"><b>Statistics</b></a></li>
                <li><a href="http://www.exponential-engine.ct.ws/" class="header-button" target="_blank"><b>ExpoEngine</b></a></li>
            </ul>
        </div>

        <video autoplay muted playsinline loop id="myVideo" style="position: absolute; right: 0; bottom: 0; min-width: 100%; min-height: 100%; opacity: 30%; z-index: -1;">
            <source src="../static/img/lines.mp4" type="video/mp4">
        </video>

        <div class="page-body" style="z-index: 0;">
            <p style="color: white; z-index: 2; margin-top: 10vw; 
             font-family: Arial, Helvetica, sans-serif; font-size: 5vh; text-shadow: 10px 10px 10px black; margin-left: 50px;">
                <b>Games and Software Development</b>
            </p>
            <p style="color: white; z-index: 2; margin-top: 10vw; width: 50%; min-width: 450px;
             font-family: inter; font-size: 3vh; text-shadow: 10px 10px 10px black; margin-left: 50px;">
                Create new universes and empower yourself through software development. View our completed releases or admire the source code of the abandoned still frozen in time!
            </p>
            <a href="/pages?page=projects" class="button" style="position: relative; width: 110px; padding: 1vh; margin-left: 50px;
             margin-top: 10vw; font-size: 3vh;">
                See Now!
            </a>
        </div>
        
        <script>
            function Init(){
                document.getElementById("footer").innerText += new Date().getFullYear();
                
                $("img").css("opacity", "0");
                $("img").animate({opacity: 1}, 1000);
            }
        </script>
    </body>
</html>