<html>
    <head>
        <title>Exponential Software - Projects</title>
        <link rel="stylesheet" href="../static/css/default.css">
        <link rel="icon" type="image/x-icon" href="../static/img/exp.png">
    </head>
    <body onload="Init()">
        <div class="header" style="width: 100%; z-index: 2;">
            <ul style="overflow: hidden; list-style-type: none; margin: 0; padding: 0;">
                <li><a href="/" class="header-button"><b>Home</b></a></li>
                <li><a href="/pages?page=projects" class="header-button"><b>Projects</b></a></li>
                <li><a href="/pages?page=about" class="header-button"><b>About</b></a></li>
                <li><a href="/pages?page=statistic" class="header-button"><b>Statistics</b></a></li>
                <li><a href="http://www.exponential-engine.ct.ws/" class="header-button" target="_blank"><b>ExpoEngine</b></a></li>
            </ul>
        </div>

        <video autoplay muted playsinline loop id="myVideo" style="position: absolute; right: 0; bottom: 0; min-width: 100%; min-height: 100%; opacity: 30%; z-index: -1;">
            <source src="../static/img/lines.mp4" type="video/mp4">
        </video>

        <div class="flex-center" style="z-index: 0;">
            <div class="flex-center" style="margin-top: 100px; flex: none; ">
                <div class="grid" style="min-width: 600px;">
                    <a onclick="ViewerRedirect('viewer', 'unity_game')" class="large-graphic-button" style="width: 250px; height: 250px;">
                        <p style="text-align: center; margin-top: 90px; font-size: 30px; 
                        text-shadow: -10px 10px 10px black;">
                            <b>Unity Engine Games</b>
                        </p>
                    </a>
                    <a onclick="ViewerRedirect('viewer', 'source_game')" class="large-graphic-button" style="width: 250px; height: 250px;">
                        <p style="text-align: center; margin-top: 90px; font-size: 30px; 
                        text-shadow: -10px 10px 10px black;">
                            <b>Source Engine Games</b>
                        </p>
                    </a>
                    <a onclick="ViewerRedirect('viewer', 'school_proj')" class="large-graphic-button" style="width: 250px; height: 250px;">
                        <p style="text-align: center; margin-top: 90px; font-size: 30px;
                        text-shadow: -10px 10px 10px black;">
                            <b>School Projects</b>
                        </p>
                    </a>
                    <a onclick="ViewerRedirect('viewer', 'prospective')" class="large-graphic-button" style="width: 250px; height: 250px;">
                        <p style="text-align: center; margin-top: 90px; font-size: 30px;
                        text-shadow: -10px 10px 10px black;">
                            <b>Prospectives</b>
                        </p>
                    </a>
                    <a onclick="ViewerRedirect('viewer', 'prog_challenge')" class="large-graphic-button" style="width: 250px; height: 250px;">
                        <p style="text-align: center; margin-top: 90px; font-size: 30px; 
                        text-shadow: -10px 10px 10px black;">
                            <b>Programming Challenges</b>
                        </p>
                    </a>
                    <a onclick="ViewerRedirect('viewer', 'abandoned')" class="large-graphic-button" style="width: 250px; height: 250px;">
                        <p style="text-align: center; margin-top: 90px; font-size: 30px; 
                        text-shadow: -10px 10px 10px black;">
                            <b>Abandoned</b>
                        </p>
                    </a>
                    <a onclick="ViewerRedirect('viewer', 'malware')" class="large-graphic-button" style="width: 250px; height: 250px;">
                        <p style="text-align: center; margin-top: 90px; font-size: 30px; 
                        text-shadow: -10px 10px 10px black;">
                            <b>Defunct Malware</b>
                        </p>
                    </a>
                    <a onclick="ViewerRedirect('viewer', 'web')" class="large-graphic-button" style="width: 250px; height: 250px;">
                        <p style="text-align: center; margin-top: 90px; font-size: 30px; 
                        text-shadow: -10px 10px 10px black;">
                            <b>WebApps</b>
                        </p>
                    </a>
                    <a onclick="ViewerRedirect('viewer', 'misc')" class="large-graphic-button" style="width: 250px; height: 250px;">
                        <p style="text-align: center; margin-top: 90px; font-size: 30px; 
                        text-shadow: -10px 10px 10px black;">
                            <b>Misc</b>
                        </p>
                    </a>
                </div>
            </div>
        </div>
        
        <!--div id="footer" class="footer" style="height: 40px; background-color: rgb(43, 43, 43); z-index: 2; box-shadow: 0 0 10px black; position: relative;">Exponential Software 2018 - </div-->
        <script>
            function Init(){
                document.getElementById("footer").innerText += new Date().getFullYear();
            }

            // Redirect to viewer page and save the projviewer json directory
            function ViewerRedirect(page, projectFile){
                sessionStorage.setItem("project_file", projectFile);
                document.location.href = "/pages?page=" + page; 
            }
        </script>
    </body>
</html>