<html>
    <head>
        <title>Exponential Software - Statistics</title>
        <link rel="stylesheet" href="../static/css/default.css">
        <script src="../static/js/stats.js"></script>
        <script src="../static/js/utils.js"></script>
        <link rel="icon" type="image/x-icon" href="../static/img/exp.png">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>
    <body onload="Init()">
        <div class="header" style="width: 100%; z-index: 2;">
            <ul style="overflow: hidden; list-style-type: none; margin: 0; padding: 0;">
                <li><a href="/" class="header-button"><b>Home</b></a></li>
                <li><a href="/pages?page=projects" class="header-button"><b>Projects</b></a></li>
                <li><a href="/pages?page=about" class="header-button"><b>About</b></a></li>
                <li><a href="/pages?page=statistics" class="header-button"><b>Statistics</b></a></li>
                <li><a href="http://www.exponential-engine.ct.ws/" class="header-button" target="_blank"><b>ExpoEngine</b></a></li>
            </ul>
        </div>

        <div class="page-body" style="height: 100%; box-shadow: inset 0 0 70px 10px rgb(26, 26, 26);">
            <div id="no_lines" style="font-size: 40px; color: white; font-family: Arial, Helvetica, sans-serif; text-align: center;
            text-shadow: 10px 10px 5px black; position: relative; top: 100px">
                Documented Lines of Code Written: </div>
            <div id="no_projects" style="font-size: 30px; color: gray; font-family: Arial, Helvetica, sans-serif; text-align: center;
            text-shadow: 10px 10px 5px black; top: 100px; position: relative;">
                Available Projects: 
            </div>

            <div class="flex-center" style="margin-top: 150px;">
                <div id="consistency" class="progress-bar" style="width: 700px; height: 10px;"></div>
            </div>

            <div class="flex-center">
                <div id="legend" class="grid-legend" style="display: grid; grid-template-columns: 20% 20% 20% 20% 20%; width: 700px; height: 100px;
                column-gap: 30px; row-gap: 60px; margin-top: 100px;">
                       
                </div>
            </div>
        </div>
        
        <div id="footer" class="footer" style="height: 40px; background-color: rgb(43, 43, 43);">Exponential Software 2018 - </div>
        <script>
            function Init(){
                document.getElementById("footer").innerText += new Date().getFullYear();
                LanguagePercentage();

                $("#no_projects").css("opacity", "0");
                $("#no_lines").css("opacity", "0");
                $("#consistency").css("opacity", "0");
            }
        </script>
    </body>
</html>