<html>
    <head>
        <title>Exponential Software - Viewer</title>
        <link rel="stylesheet" href="../static/css/default.css">
        <link rel="stylesheet" href="../static/css/viewer.css">
        <script src="../static/js/viewer.js"></script>
        <script src="../static/js/utils.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <link rel="icon" type="image/x-icon" href="../static/img/exp.ico">
    </head>
    <body onload="Init(), LoadViewerContent()">
        <div class="header" style="height: 75px; width: 100%; z-index: 2;">
            <div style="width: 100%; top: 15px;">
                <a href="/pages?page=home" style="display: inline-block;">
                    <img src="../static/img/exp.png" class="logo" style="width: 50px; height: 50px; position: relative; top: 15px; margin-right: 40px; left: 10px">
                </a>
                <a href="/pages?page=projects" class="header-button" style="display: inline-block; margin-top: 15px; height: 10%; margin-right: 5px;"><b>Projects</b></a>
                <a href="/pages?page=about" class="header-button" style="display: inline-block; margin-top: 15px; height: 10%; margin-right: 5px;"><b>About</b></a>
                <a href="/pages?page=contact" class="header-button" style="display: inline-block; margin-top: 15px; height: 10%; margin-right: 5px;"><b>Contact</b></a>
                <a href="/pages?page=statistic" class="header-button" style="display: inline-block; margin-top: 15px; height: 10%; margin-right: 5px;"><b>Statistics</b></a>
            </div>
        </div>

        <div class="page-body" style="background-color: rgb(31, 31, 31); z-index: 0; box-shadow: inset 0 0 70px 10px rgb(26, 26, 26);">
            <!--
            <div class="project-viewer-element" style="left: 30px; width: 60%;">
                <b id="title" style="font-size: 25px;">Alterline</b>
                <div id="description" class="element-subtext" style="width: 50%;">Alterline was a terrible game!</div>
                <div id="date" class="element-subtext" style="color: gray; padding-top: 10px;">Date: 2019</div>
                <div id="open_src" class="element-subtext" style="color: gray; padding-top: 10px;">Open Source: Yes</div>
                <div id="engine" class="element-subtext" style="color: gray; padding-top: 10px;">Engine: Unity</div>
                
                <div id="rating" class="rating-container" title="Skill Rating">
                    <div class="rating-unit"></div>
                </div>
                
                <div>
                    <a id="download" href="" class="download" style="padding-top: 10px; display: inline-block;">[Download]</a>
                    <a id="download_src" href="" class="download" style="padding-top: 10px; display: inline-block;">[Source Code]</a>
                </div>
            </div>
            -->
        </div>

        <div id="footer" class="footer" style="height: 40px; background-color: rgb(43, 43, 43); box-shadow: 0 0 10px black;">Exponential Software 2018 - </div>

        <script>
            function Init(){
                document.getElementById("footer").innerText += new Date().getFullYear();
            }
        </script>
    </body>
</html>