<html>
    <head>
        <title>Exponential Software - Viewer</title>
        <link rel="stylesheet" href="../static/css/default.css">
        <link rel="stylesheet" href="../static/css/viewer.css">
        <script src="../static/js/viewer.js"></script>
        <script src="../static/js/utils.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <link rel="icon" type="image/x-icon" href="../static/img/exp.png">
    </head>
    <body onload="Init(), LoadViewerContent()">
        <div class="header" style="width: 100%; z-index: 2;">
            <ul style="overflow: hidden; list-style-type: none; margin: 0; padding: 0;">
                <li><a href="/" class="header-button"><b>Home</b></a></li>
                <li><a href="/pages?page=projects" class="header-button"><b>Projects</b></a></li>
                <li><a href="/pages?page=about" class="header-button"><b>About</b></a></li>
                <li><a href="/pages?page=statistics" class="header-button"><b>Statistics</b></a></li>
                <li><a href="http://www.exponential-engine.ct.ws/" class="header-button" target="_blank"><b>ExpoEngine</b></a></li>
            </ul>
        </div>

        <div class="page-body" style="background-color: rgb(17, 17, 17); z-index: 0; ">
            <!--
            <div class="project-viewer-element" style="left: 30px; width: 60%;">
                <b id="title" style="font-size: 25px;">Alterline</b>
                <div id="description" class="element-subtext" style="width: 50%;">Alterline was a terrible game!</div>
                <div id="date" class="element-subtext" style="color: gray; padding-top: 10px;">Date: 2019</div>
                <div id="open_src" class="element-subtext" style="color: gray; padding-top: 10px;">Open Source: Yes</div>
                <div id="engine" class="element-subtext" style="color: gray; padding-top: 10px;">Engine: Unity</div>
                
                <div id="rating" class="rating-container" title="Skill Rating">
                    <div class="rating-unit"></div>
                </div>
                
                <div>
                    <a id="download" href="" class="download" style="padding-top: 10px; display: inline-block;">[Download]</a>
                    <a id="download_src" href="" class="download" style="padding-top: 10px; display: inline-block;">[Source Code]</a>
                </div>
            </div>
            -->
        </div>

        <div id="footer" class="footer" style="height: 40px; background-color: rgb(43, 43, 43); box-shadow: 0 0 10px black;">Exponential Software 2018 - </div>

        <script>
            function Init(){
                document.getElementById("footer").innerText += new Date().getFullYear();
            }
        </script>
    </body>
</html>