<div class="project-viewer-element" style="left: 30px; width: 60%;">
    <b id="title" style="font-size: 25px;">Alterline</b>
    <div id="description" class="element-subtext" style="width: 50%;">Alterline was a terrible game!</div>
    <div id="date" class="element-subtext" style="color: gray; padding-top: 10px;">Date: 2019</div>
    <div id="open_src" class="element-subtext" style="color: gray; padding-top: 10px;">Open Source: Yes</div>
    <div id="engine" class="element-subtext" style="color: gray; padding-top: 10px;">Engine: Unity</div>
    <div id="rating" class="rating-container" title="Skill Rating">
    </div>
    <div>
        <a id="download" href="" class="download" style="padding-top: 10px; display: inline-block;">[Download]</a>
        <a id="download_src" href="" class="download" style="padding-top: 10px; display: inline-block;">[Source Code]</a>
    </div>
</div>